extends layout

block content
  h1 news of info@scau
  br
  br
  ul
    li(class='nav-btn' url_str='news-cate-2.asp') 学院动态
    br
    li(class='nav-btn' url_str='news-cate-3.asp') 学术新闻
    br
    li(class='nav-btn' url_str='news-cate-9.asp') 党群动态
  br
  br
  br
  div(id='list')