extends layout

block content
  div(data-role='page' id='news-home-page')
    div(data-role='header' data-position='fixed' data-theme="b")
      h1 Info@SCAU
    div(data-role='content')
      ul(id='nav')
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-2.asp' nextpage='1') 学院动态
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-3.asp' nextpage='1') 学术新闻
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-9.asp' nextpage='1') 党群动态
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-10.asp' nextpage='1') 学生动态
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-12.asp' nextpage='1') 就业指导
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-11.asp' nextpage='1') 招生信息
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-5.asp' nextpage='1') 教师通知
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-6.asp' nextpage='1') 研究生通知
        li
          a(href='#news-list-page' class='nav-btn' urlstr='news-cate-7.asp' nextpage='1') 本科生通知

  div(data-role='page' id='news-list-page')
    div(data-role='header' data-position='fixed' data-theme="b")
      h1(id='news-list-title')
    div(data-role='content')
      ul(id='news-list')
      div(id='news-list-more') 加载更多
    div(data-role='footer' data-position='fixed' data-theme="b")
      div(data-role='navbar')
        ul
          li
            a(href='#news-home-page' data-icon='home') Home

  div(data-role='page' id='news-article-page')
    div(data-role='header' data-position='fixed' data-theme="b")
      h1(id='news-article-title')
    div(data-role='content')
      div(id='news-article-content')
    div(data-role='footer' data-position='fixed' data-theme="b")
      div(data-role='navbar')
        ul
          li
            a(href='#news-home-page' data-icon='home') Home
          li
            a(href='#news-list-page' data-icon='back') Back