*{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Tahoma, sans-serif;
}

ul{
	width: 100px;
	height: 325px;
	float: right;
}

.nav-btn{
	cursor: pointer;
}
.nav-btn:hover{
	text-decoration: underline;
}