*{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: '微软雅黑',Tahoma, sans-serif;
	list-style: none;
	text-decoration: none;
}

#nav{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
#nav li{
	width: 90%;
	height: 70px;
	margin: 0 auto 20px auto;
	border: 3px solid #08d;
	-webkit-border-radius: 20px;
}
#nav a{
	color: #555;
	font-size: 20px;
	line-height: 70px;
	letter-spacing: 10px;
	font-weight: normal;
}

.news-link-btn{
	width: 90%;
	margin: 0px auto 40px auto;
	padding: 10px;
	background: #fff;
	border: 3px solid #08d;
	-webkit-border-radius: 20px;
}
.news-link{
	color: #555;
}
.news-date{
	text-align: right;
}
.tail-border{
	width: 0;
	height: 0;
	position: absolute;
	margin: 10px 0 0 30px;
	border-left: 22px solid #08d;
	border-bottom: 23px solid transparent;
}
.tail-inner{
	width: 0;
	height: 0;
	position: absolute;
	margin: -1px 0 0 -19px;
	border-left: 16px solid #fff;
	border-bottom: 16px solid transparent;
}

#news-list-more{
	color: #08d;
	text-align: center;
	cursor: pointer;
}

#news-article-content img{
	margin-left: -20px;
}